<!-- <p>home works!</p> -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../../../assets/images/personal/personal.jpg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading  mb-0">Welcome</h1>
        <h2 class="masthead-heading  mb-0">I'm Raúl Adolfo Torres Vargas</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading  mb-0">Frontend Developer, WebMaster, CEO and Founder of ESDMX (Easy Software Design México)</p>
    </div>
</header>

<!-- <section class="view hm-gradient" align="center">
    <div class="row" >
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
                <h1 class="heading display-3 mt-5 pt-5">Welcome</h1>
                <h4 class="subheading font-weight-bold">I'm Raúl Adolfo Torres Vargas</h4>
                <button type="button" mdbBtn  mdbWavesEffect class="btn btn-margin ml-auto mr-auto mb-auto" color="lily"><a href="https://www.linkedin.com/in/ingrauladolfotorresvargas/" target="_blank">Contact me</a></button>
            </div>
        </div>
        <div class="view mb-5">
            <img src="../../../assets/images/personal/personal.jpg" class="img-fluid mt-5 pt-5 mr-auto justify-content-center align-items-center" 
                 alt="My personal photo">
          </div>
    </div>
</section> -->
