<!-- <p>home works!</p> -->
<section class="wave"></section>
<!-- <section class="view hm-gradient" align="center">
    <div class="row" >
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
                <h1 class="heading display-3 mt-5 pt-5">Welcome</h1>
                <h4 class="subheading font-weight-bold">I'm Raúl Adolfo Torres Vargas</h4>
                <button type="button" mdbBtn  mdbWavesEffect class="btn btn-margin ml-auto mr-auto mb-auto" color="lily"><a href="https://www.linkedin.com/in/ingrauladolfotorresvargas/" target="_blank">Contact me</a></button>
            </div>
        </div>
        <div class="view mb-5">
            <img src="../../../assets/images/personal/personal.jpg" class="img-fluid mt-5 pt-5 mr-auto justify-content-center align-items-center" 
                 alt="My personal photo">
          </div>
    </div>
</section> -->
